@import "tailwindcss";

:root {
  background-color: #F8F5F2;
}

body {
  background-image: url('../assets/zlig.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}




.pl{
  color: #2B2B2B;
}